# binary stuff
*.o
objects
a.out*
easyfind
span
mutantstack
# libraries
*.a
*.dylib
*.swiftdoc
*.swiftmodule

# macos garbage
.DS_Store

# vim utils
*.swp
*.vim

# ctags
tags

# debug
.gdb_history

# output
dandelion_shrubbery
